# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output folders
bin/
build/
documentation/
assets/

/desktop.ini
/dependencies
/.vs
/EntitySystem.sln
/EntitySystem
/CMakeCache.txt
/.cproject
/.project
/.settings
/inexor.log
*.DS_STORE
/.conan
/.cache
*.user

