[submodule "submodules/magnum"]
	path = submodules/magnum
	url = https://github.com/mosra/magnum
	branch = master
[submodule "submodules/corrade"]
	path = submodules/corrade
	url = https://github.com/mosra/corrade
[submodule "submodules/magnum-plugins"]
	path = submodules/magnum-plugins
	url = https://github.com/mosra/magnum-plugins.git
[submodule "submodules/di"]
	path = submodules/di
	url = https://github.com/boost-experimental/di.git
